.list-main {
  display: flex;
  align-items: normal;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0.63rem 1.25rem;
}
.list-item{
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.94rem;
  background: rgba(110, 117, 133, 0.05);
  gap: 0.75rem;
}
.list-item img{
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(110,117,133,0.5);
  border-radius: 50%;
}
.list-item p{
  display: flex;
  align-items: normal;
  flex-direction: column;
  text-align: left;
  gap: 0.38rem;
  flex: 1
}
.list-item p b{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  color: #141C1D;
  line-height: 0.94rem;
}
.list-item p span{
  display: block;
  font-size: 0.81rem;
  font-family: MontserratLight;
  color: #6E7585;
  line-height: 0.81rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.list-item a{
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../../../../../assets/icons/close-btn-red.svg") no-repeat center center / 100% 100%;
}
