.token-list {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  gap: 1.25rem;
  flex-direction: column;
  padding: 1.25rem 1.88rem;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  background: #ffffff;
  border-radius: 0.94rem;
  border: 0.06rem solid rgba(41, 122, 255, 0.5);
  padding: 0.8rem 1.25rem;
}

.input-box input {
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: #141C1D;
  line-height: 0.94rem;
  background: none;
  border: none;
  flex: 1;
}

.input-box input::placeholder {
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: rgba(110, 117, 133, 0.5);
  line-height: 0.94rem;
}

.input-box a {
  width: 1.5rem;
  height: 1.5rem;
  background: url("/src/assets/icons/search.svg") no-repeat center center / 100% 100%;
}

.token-list .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.63rem;
  background: rgba(110, 117, 133, 0.05);
  border-radius: 0.94rem;
  padding: 1.25rem;
}

.token-list .item img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.token-list .item p {
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: #141C1D;
  line-height: 0.94rem;
  flex: 1;
}

.token-list .item a {
  margin-left: auto;
  width: 2.5rem;
  height: 1.5rem;
  background: url("/src/assets/icons/on.svg") no-repeat center center / 100% 100%;
}
