.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content {
  position: relative;
  background: rgba(0,0,0,0.3);
  width: 375px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  box-sizing: border-box;
}

.modal-main{
  border-radius: 1.25rem 1.25rem 0 0;
  background: #FFFFFF;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1.25rem 1.88rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-main .close{
  z-index: 5;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("@/assets/icons/close-btn-gray.svg") no-repeat center center / 100% 100%;
}
.modal-main h1{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: bold;
  color: #141C1D;
  line-height: 0.94rem;
  padding: 0.13rem 0 1.69rem;
}
.modal-main .search-box{
  padding: 0.7rem 1.25rem;
  border: 0.06rem solid rgba(41, 122, 255, 0.5);
  border-radius: 0.94rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-main .search-box input{
  flex: 1;
  background: none;
  border: none;
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: #141C1D;
  line-height: 1.5rem;
}
.modal-main .search-box input::placeholder{
  color: rgba(110,117,133,0.5);
}
.modal-main .search-box a{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("@/assets/icons/search.svg") no-repeat center center / 100% 100%;
}
.modal-main ul{
  margin-top: 1.88rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.modal-main ul li{
  background: rgba(110, 117, 133, 0.05);
  border-radius: 0.94rem;
  border: 0.06rem solid #ffffff;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}
.modal-main ul li.on{
  background: #ffffff;
  border: 0.06rem solid rgba(20,28,29,0.2);
}
.modal-main ul li img{
  width: 1.5rem;
  height: 1.5rem;
}
.modal-main ul li b{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: #141C1D;
  line-height: 0.94rem;
  flex: 1;
}
.modal-main ul li i{
  margin-left: auto;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("@/assets/icons/selected.svg") no-repeat center center / 100% 100%;
}
