.page-main {
  background-color: #ffffff;
  margin: auto;
  width: 375px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.page-container {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.add-btn {
  margin-top: auto;
  position: relative;
  width: 100%;
  padding: 1.25rem 1.88rem;
  box-sizing: border-box;
}

.add-btn button {
  border-radius: 0.94rem;
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  line-height: 0.94rem;
  padding: 1.13rem 0;
  text-align: center;
  color: #FFFFFF;
  background: #297AFF;;
  width: 100%;
}

