.form-box {
  padding: 0 1.88rem;
}
.form-item{
  margin-bottom: 0.63rem;
}
.form-item label{
  font-size: 0.81rem;
  font-family: MontserratLight;
  font-weight: 300;
  color: #6E7585;
  line-height: 0.81rem;
  padding: 1.25rem 0;
  display: block;
}
.form-item .info-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:1.13rem
}
.form-item .info-box img{
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.63rem;
}

.form-item .info-box p{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap:0.38rem;
  text-align: left;
}
.form-item .info-box p b{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: #141C1D;
  line-height: 0.94rem;
}
.form-item .info-box p span{
  font-size: 0.81rem;
  font-family: MontserratLight;
  font-weight: 300;
  color: #6E7585;
  line-height: 0.81rem;
}

.form-item .input-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  background: #FAFAFA;
  border-radius: 0.94rem;
  border: 0.06rem solid rgba(20,28,29,0.2);
  padding: 1.06rem 1.25rem;
}
.form-item .input-box input{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: #141C1D;
  line-height: 0.94rem;
  background: none;
  width: 100%;
  border: none;
}
.form-item .input-box input::placeholder{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: rgba(110,117,133,0.5);
  line-height: 0.94rem;
}
.form-item .fee-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(110, 117, 133, 0.05);
  border-radius: 0.94rem;
  padding: 1.38rem 1.25rem;
  margin-top: 1.25rem;
}
.form-item .fee-box b{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  color: #141C1D;
  line-height: 0.94rem;
}
.form-item .fee-box span{
  font-size: 0.94rem;
  font-family: MontserratLight;
  font-weight: 300;
  color: #6E7585;
  line-height: 0.94rem;
}
.submit-btn{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.94rem;
  padding: 2rem 0;
}
.submit-btn button{
  border-radius: 0.94rem;
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  line-height: 0.94rem;
  padding: 1.13rem 0;
  text-align: center;
  width: 100%;
}
.submit-btn button.send{
  margin-left: 1.88rem;
  margin-right: 1.88rem;
  color: #FFFFFF;
  background: #297AFF;;
  border: none
}
