.form-box {
  padding: 1.25rem;
}

.form-main {
  background: #FFFFFF;
  border-radius: 0.94rem;
  border: 0.06rem solid rgba(20, 28, 29, 0.2);
  padding: 1.25rem;
}

.form-item {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.63rem
}

.form-item .item-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-item .item-name label {
  font-size: 0.81rem;
  font-family: MontserratLight;
  color: #6E7585;
  line-height: 0.81rem;
}

.form-item .item-name b {
  font-size: 0.81rem;
  font-family: MontserratRegular;
  color: #6E7585;
  line-height: 0.81rem;
}

.form-item .item-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-item .item-data b {
  font-size: 0.94rem;
  font-family: MontserratRegular;
  color: #141C1D;
  line-height: 0.94rem;
}

.switch-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
}

.switch-btn i {
  height: 1px;
  width: 40%;
  background: rgba(110, 117, 133, 0.05);
}

.switch-btn a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("@/assets/icons/switch.svg") no-repeat center center / 100% 100%;
}

.net-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
  padding: 0.5rem;
  background: rgba(110, 117, 133, 0.05);
  border-radius: 0.63rem;
}

.net-name img {
  border-radius: 50%;
  display: block;
  width: 1rem;
  height: 1rem;
}

.net-name span {
  font-size: 0.81rem;
  color: #6E7585;
  line-height: 1rem;
  font-family: MontserratRegular;
}

.net-name a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("@/assets/icons/select-down.svg") no-repeat center center / 100% 100%;
}

.form-box a.check {
  margin: 1.25rem auto;
  background: #297AFF;
  border-radius: 0.94rem;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 0.94rem;
  font-family: MontserratRegular;
  color: #FFFFFF;
  line-height: 3.13rem;
}
