.back-bar {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.back-bar a{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../../assets/icons/back.svg") no-repeat center center / 100% 100%;
}
