.item-box {
  padding: 0.63rem 1.25rem;
}
.item-box label{
  padding: 0.63rem 0.63rem 1.25rem;
  display: block;
  font-size: 0.81rem;
  font-family: MontserratLight;
  color: #6E7585;
  line-height: 0.81rem;
}
.item-box ul{
  background: rgba(110, 117, 133, 0.05);
  border-radius: 0.94rem;
  padding: 0 1.25rem;
}
.item-box ul li{
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-box ul li p{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.item-box ul li p img{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.item-box ul li p b{
  font-size: 0.94rem;
  font-family: MontserratRegular;
  color: #141C1D;
  line-height: 0.94rem;
}
.item-box ul li a{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.item-box ul li a span{
  font-size: 0.94rem;
  font-family: MontserratLight;
  color: #141C1D;
  line-height: 0.94rem;
}
.item-box ul li a i{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("@/assets/icons/to.svg") no-repeat center center / 100% 100%;
}
