.page-main {
  background-color: #ffffff;
  margin: auto;
  width: 375px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.page-container {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.make-btn {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.94rem;
  padding: 1.25rem 1.25rem;
  box-sizing: border-box;
  margin-top: auto;
}

.make-btn button {
  border-radius: 0.94rem;
  font-size: 0.94rem;
  font-family: MontserratRegular;
  font-weight: 400;
  line-height: 0.94rem;
  padding: 1.13rem 0;
  text-align: center;
  width: 50%;
}

.make-btn button.create {
  color: #141C1D;
  background: #FFFFFF;
  border: 0.06rem solid rgba(20, 28, 29, 0.2);
}

.make-btn button.import {
  color: #ffffff;
  background: #297AFF;;
}
