@font-face {font-display: auto;font-family: "MontserratBold";src: url("./assets/fonts/Montserrat-Bold-3.otf");  }
@font-face {font-display: auto;font-family: "MontserratMedium";src: url("./assets/fonts/Montserrat-Medium-7.otf");  }
@font-face {font-display: auto;font-family: "MontserratRegular";src: url("./assets/fonts/Montserrat-Regular-8.otf");  }
@font-face {font-display: auto;font-family: "MontserratLight";src: url("./assets/fonts/Montserrat-Light.ttf");  }
@font-face {font-display: auto;font-family: "SourceHanSansCNBold";src: url("./assets/fonts/SourceHanSansCN-Bold.otf");  }
@font-face {font-display: auto;font-family: "SourceHanSansCNLight";src: url("./assets/fonts/SourceHanSansCN-Light.otf");  }
@font-face {font-display: auto;font-family: "SourceHanSansCNMedium";src: url("./assets/fonts/SourceHanSansCN-Medium.otf");  }
@font-face {font-display: auto;font-family: "SourceHanSansCNNormal";src: url("./assets/fonts/SourceHanSansCN-Normal.otf");  }
#root {
    max-width: 1920px;
    margin: 0 auto;
    padding:0;
    text-align: left;
}
h1,h2,h3,h4,h5,h5,p{padding: 0;margin: 0;line-height: 1}
ul{list-style: none;padding: 0;margin: 0}
input,textarea,select{-webkit-tap-highlight-color:rgba(0,0,0,0);appearance: none; -webkit-appearance: none; outline: #FFFFFF; }
